@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Sanchez&display=swap');

$font-open-sans: 'Open Sans', sans-serif;
$font-sanchez : 'Sanchez', serif;

h2, h3 {
  font-size: 3.6rem;
}

p{
  font-size: 1.8rem;
  line-height: 1.4;
}
