@import '../abstracts/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

main {
  margin: 3.6rem auto;
  max-width: 1440px;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

a {
  text-decoration: none;
  color: $main-color;
}

ul {
  list-style: none;
  list-style-type: none;
}
