@import '../../../assets/styling/abstracts/globals';

.mobile-footer {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8em;
  align-items: center;
  width: 100%;
  padding: 2.4em 0;
  margin: 0 auto;

  .mobile-footer-logo {
    @include Logo;
  }
  .mobile-footer-contact {
    font-size: 1.4em;
    color: $white-color;
    text-align: center;
    list-style-type: none;
  }
  .copy-right {
    color: $white-color;
    font-size: 1.4em;
  }
}
