@import '../../../assets/styling/abstracts/globals';

.image-container{
  width: 95%;
  margin: 0 auto;
  position: relative;

  @media (min-width: 750px) {
    width: 50%;
    margin: 0 auto;
  }

  .image {
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
  }

  .arrow-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
    .arrow {
      width:5rem;
      height: 5rem;
      stroke: $sub-color;
      cursor: pointer;

      &:hover {
        stroke: $white-color;
      }
    }
  }
}
