@import '../../../assets/styling/abstracts/globals';

.cart-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 1.3rem;

  @media (min-width: 757px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem
  }
}
