@import '../../assets/styling/base/globals';

.contact-form-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 700px) {
    width: 50%;
  }

  h2 {
    font-size: 2.4rem;
    color: $main-color;
    font-weight: 600;
    text-align: center;
  }

  form {
    text-align: center;
    max-width: 100%;
    margin-bottom: 1.8rem;
  }
}
